@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 1.2vw;
}

#home {	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	align-items: center;
	align-content: center;
		background-color: white;
}

.title {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 50vh;
	justify-content: center;
	align-items: flex-end;
		/*background-color: red;*/
}

h1 a {
	font-family: 'Amatic SC', cursive;
	letter-spacing: 2px;
	font-size: 5rem;
	text-align: center;
}

.frontend_title h2, .git_title h2, .arq_title h2, .backend_title h2, .sources_title h2 {
	font-size: 3rem;
	letter-spacing: 0.4rem;
}

h4 {
	text-align: left;
}

.clase {
	text-align: left;
	padding-left: 1.5rem; 
}

ul {
	display: block;
	list-style-type: disc;
	padding-left: 5rem;
}

ul li {
	display: list-item;
}

.subtitle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 32vw;
	height: 7vh;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
		background-color: #5c6e91;
}

.subtitle h3 {
	letter-spacing: 0.5rem;
}

mark {
	background-color: #ad9d9d;
}

.navigation_bar {
	display: flex;
	width: 100vw;
	height: 50vh;
	justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 2rem;
		/*background-color: yellow;*/
}

.navigation_bar a {
	display: block;
	width: 15vw;
	height: 5vh;
	text-align: center;
	align-content: center;
	font-size: 1.2rem;
    letter-spacing: .15rem;
	background-color: #ffb0b0;
}

.navigation_bar a:hover {
	background-color: lightgrey;
}

nav {
	text-align: center;
}

#modulo_frontend {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
	margin-bottom: 1rem;
		border-top: 2px dashed #DC8877;
		border-bottom: 2px dashed #DC8877;
		/*background-color: #e8e8e8;*/
}

.frontend_title {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		padding: 1rem;
		padding-right: 2rem;
		background-color: #734046;
}

#html{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	align-items: flex-start;
	align-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
		border: 1px dashed #5c6e91;
		/*background-color: #f4d9c6;*/
}

#css{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	align-items: flex-start;
	align-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
		border: 1px dashed #5c6e91;
		/*background-color: yellow;*/
}

#bootstrap{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	align-items: flex-start;
	align-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
		border: 1px dashed #5c6e91;
		/*background-color: cyan;*/
}

#javascript{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	align-items: flex-start;
	align-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
		border: 1px dashed #5c6e91;
		/*background-color: purple;*/
}

#vue{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	align-items: flex-start;
	align-content: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
		border: 1px dashed #5c6e91;
		/*background-color: grey;*/
}

#modulo_git {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	justify-content: space-around;
	align-items: baseline;
	align-content: center;
	margin-bottom: 1rem;
	box-sizing: border-box;
		/*background-color: blue;*/
}

.git_title {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
		writing-mode: vertical-lr;
		padding: 1rem;
		padding-right: 2rem;
		background-color: #34626c;
}

#git {	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: 100vh;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
		border: 1px dashed #5c6e91;
		/*background-color: grey;*/
}

#scrum {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: 100vh;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
		border: 1px dashed #5c6e91;
		/*background-color: pink;*/
}


#modulo_arq {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
		/*background-color: green;*/
}

.arq_title {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 53vw;
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		padding: 1rem;
		padding-right: 2rem;
		background-color: brown;
}

#arq {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 45vw;
	height: 100vh;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
		border: 1px dashed #5c6e91;
		/*background-color: yellow;*/
}


#modulo_backend {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
		/*background-color: white;*/
}

.backend_title {
		display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
		writing-mode: vertical-lr;
		padding: 1rem;
		padding-right: 2rem;
		background-color: #625261;
}

#basededatos {
		display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	align-items: flex-start;
	align-content: flex-start;
	margin-top: 10px;
	margin-bottom: 10px;
		border: 1px dashed #5c6e91;
		/*background-color: yellow;*/
}

#java {
		display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 32vw;
	height: auto;
	align-items: flex-start;
	align-content: flex-start;
	margin-top: 10px;
	margin-bottom: 10px;
		border: 1px dashed #5c6e91;
		/*background-color: pink;*/
}

#modulo_links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 70vh;
	align-items: center;
	align-content: flex-start;
		/*background-color: green;*/
}

.sources_title {
	display: flex;
	flex-wrap: row wrap;
	width: 30vw;
	height: 70vh;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	padding-top: 10px;
	padding-bottom: 10px;
		background-color: #aa3a3a;
}

.navigation_links {
	display: flex;
	width: 70vw;
	height: 70vh;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
		border-top: 2px dashed #DC8877;
}

.navigation_links a {
  	position: relative;
  	width: 15vw;
	height: 5vh;
	text-align: center;
	align-content: center;
	font-size: 1.2rem;
    letter-spacing: .15rem;
    border: 1px dashed #5c6e91;
  	z-index: 1;

}

.navigation_links a:before {
  	content: "";
  	background: #ccc;
  	position: absolute;
  	width: 100%;
  	height: 5vh;
  	bottom: 0;
  	left: 0;
  	transform: scaleX(0);
 	animation-fill-mode: forwards;
 	z-index: -1;
}

.navigation_links a:hover:before, .navigation_links a:focus:before {
  animation: .4s hover linear;
  animation-fill-mode: forwards;
}

@keyframes hover {
  0% {
    transform: scaleX(0);
    height: 1vh;
  }
  45% {
    transform: scaleX(1.05);
    height: 2.5vh;
  }
  55% {
    height: 3.5vh;
  }
  100% {
    transform: scaleX(1.05);
    height: 5vh;
  }
}

#modulo_footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 30vh;
	align-items: center;
	align-content: flex-start;
	background-color: pink;
}

.contact_icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 20vh;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 10vw;
	height: 15vh;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.icon {
	width: 30rem;
	text-align: center;
	display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.icon:hover, .icon:focus, .icon:active {
    transform: scale(1.1);
}

.icons a i {
	font-size: 2.5rem;
}

.social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	text-align: center;
	background-color: black;
}

.social p, .social p i, .social p a i{
	color: white;
}



/*--------------------INICIO CSS para MEDIA 900 A 1250PX--------------------*/

@media all and (min-width: 900px) and (max-width: 1250px) {
* {
	font-size: 16px;
}

.frontend_title h2, .git_title h2, .arq_title h2, .backend_title h2, .sources_title h2 {
	font-size: 1.5rem;
}

.clase {
	padding-left: 1rem; 
}

ul {
	padding-left: 2.75rem;
}

.subtitle_html, .subtitle_css {
	width: 38vw;
	height: 5vh;
}

.navigation_bar {
	display: flex;
	width: 100vw;
	height: 50vh;
	justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 2rem;
}

.navigation_bar a {
	width: 15vw;
	height: 4vh;
	font-size: 1rem;
}

.frontend_title {
	width: 20vw;
	height: auto;
}

#html{
	width: 38vw;
}

#css{
	width: 38vw;
}

.arq_title {
	width: 43vw;
	height: 100vh;
}

#arq {
	width: 55vw;
	height: 100vh;
}

.subtitle_arq {
	width: 55vw;
	height: 5vh;
}

.backend_title {
	width: 20vw;
	height: 100vh;
}

#basededatos {
	width: 38vw;
	height: auto;
}

.subtitle_basededatos {
	width: 38vw;
	height: 5vh;
}

#java {
	width: 38vw;
	height: auto;
}

.subtitle_java {
	width: 38vw;
	height: 5vh;
}

#modulo_links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 70vh;
	align-items: center;
	align-content: flex-start;
}

.sources_title {
	width: 25vw;
	height: 70vh;
}

.navigation_links {
	width: 75vw;
	height: 70vh;
}

.navigation_links a {
  	width: 18vw;
	height: 6vh;
	font-size: 1rem;
    letter-spacing: .1rem;
}

.navigation_links a:before {
  	width: 100%;
  	height: 6vh;
}

@keyframes hover {
  0% {
    transform: scaleX(0);
    height: 1vh;
  }
  45% {
    transform: scaleX(1.05);
    height: 2.5vh;
  }
  55% {
    height: 3.5vh;
  }
  100% {
    transform: scaleX(1.05);
    height: 6vh;
  }
}

}

/*--------------------FIN CSS para MEDIA 900 A 1250PX--------------------*/

/*--------------------INICIO CSS para MEDIA 600 A 899PX--------------------*/

@media all and (min-width:600px) and (max-width:899px) {

* {
	font-size: 16px;
}

#home {	
	flex-direction: column;
}

h1 a {
	letter-spacing: 2px;
	font-size: 3rem;
}

.frontend_title h2, .git_title h2, .arq_title h2, .backend_title h2, .sources_title h2 {
	font-size: 1.5rem;
	letter-spacing: 0.4rem;
}

h4 {
	text-align: left;
}

.clase {
	text-align: left;
	padding-left: 0.5rem; 
}

ul {
	padding-left: 3rem;
}

ul li {
	display: list-item;
}

.subtitle {
	width: 32vw;
	height: 7vh;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.subtitle_html, .subtitle_css, .subtitle_bootstrap, .subtitle_javascript {
	width: 48vw;
	height: 5vh;
}

.subtitle_vue {
	width: 100vw;
	height: 5vh;
}

.subtitle h3 {
	letter-spacing: 0.5rem;
}

.navigation_bar a {
	width: 15vw;
	height: 3.5vh;
	font-size: 0.75rem;
    letter-spacing: 0.05rem;
}

#modulo_frontend {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
	margin-bottom: 1rem;
		border-top: 2px dashed #DC8877;
		border-bottom: 2px dashed #DC8877;
		/*background-color: #e8e8e8;*/
}

.frontend_title {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100vw;
	height: 10vh;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
		writing-mode: horizontal-tb;
		transform: none;
		padding: 1rem;
		padding-right: 2rem;
		background-color: #734046;
}

#html{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 48vw;
	height: auto;
		/*background-color: #f4d9c6;*/
}

#css{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 48vw;
	height: auto;
		/*background-color: yellow;*/
}

#bootstrap{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 48vw;
	height: auto;
		/*background-color: cyan;*/
}

#javascript{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 48vw;
	height: auto;
		/*background-color: purple;*/
}

#vue{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
		/*background-color: grey;*/
}

#modulo_git {
	width: 100vw;
	height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px dashed #DC8877;
		/*background-color: blue;*/
}

.git_title {
	width: 100vw;
	height: 10vh;
	margin-bottom: 1rem; 
	writing-mode: horizontal-tb;
	order: 1 ;
}

.subtitle_git, .subtitle_scrum {
	width: 48vw;
	height: 5vh;
}

#git {	
	width: 48vw;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	order: 2;
		/*background-color: grey;*/
}

#scrum {
	width: 48vw;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	order: 3;
		/*background-color: pink;*/
}

#modulo_arq {
	width: 100vw;
	height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px dashed #DC8877;
		/*background-color: green;*/
}

.arq_title {
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	transform: none;
}

.subtitle_arq {
	width: 100vw;
	height: 5vh;
}

#arq {
	width: 100vw;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
		/*background-color: yellow;*/
}

#modulo_backend {
	width: 100vw;
	height: auto;
		/*background-color: white;*/
}

.backend_title {
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	order: 1;
}

.subtitle_basededatos, .subtitle_java {
	width: 48vw;
	height: 5vh;	
}

#basededatos {
	width: 48vw;
	height: auto;
	order: 2;
		/*background-color: yellow;*/
}

#java {
	width: 48vw;
	height: auto;
	order: 3;
		/*background-color: pink;*/
}

.navigation_links {
	flex-wrap: column wrap;
	width: 70vw;
	height: 70vh;
}

.navigation_links a {
  	width: 40vw;
	height: 6vh;
	font-size: 1.2rem;
    letter-spacing: .15rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}

.navigation_links a:before {
  	width: 100%;
  	height: 6vh;
}

@keyframes hover {
  0% {
    transform: scaleX(0);
    height: 1vh;
  }
  45% {
    transform: scaleX(1.05);
    height: 2.5vh;
  }
  55% {
    height: 3.5vh;
  }
  100% {
    transform: scaleX(1.05);
    height: 6vh;
  }
}

}

/*--------------------FIN CSS para MEDIA 600 A 899PX--------------------*/

/*--------------------INICIO CSS para MEDIA 400PX A 599PX--------------------*/

@media all and (min-width:400px) and (max-width:599px) {

* {
	font-size: 16px;
}

#home {	
	flex-direction: column;
}

h1 a {
	letter-spacing: 2px;
	font-size: 2rem;
}

.frontend_title h2, .git_title h2, .arq_title h2, .backend_title h2, .sources_title h2 {
	font-size: 22px;
	letter-spacing: 0.4rem;
}

h4 {
	text-align: left;
}

.clase {
	text-align: left;
	padding-left: 1.5rem; 
}

ul {
	display: block;
	list-style-type: disc;
	padding-left: 5rem;
}

ul li {
	display: list-item;
}

.subtitle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 32vw;
	height: 7vh;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
		background-color: #5c6e91;
}

.subtitle_html, .subtitle_css, .subtitle_bootstrap, .subtitle_javascript, .subtitle_vue, .subtitle_git, .subtitle_scrum, .subtitle_arq, .subtitle_basededatos, .subtitle_java {
	width: 100vw;
	height: 5vh;
}

.subtitle h3 {
	letter-spacing: 0.5rem;
}

.navigation_bar {
	flex-direction: column;
	width: 100vw;
	height: 50vh;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	padding-top: 10px;
}

.navigation_bar a {
	width: 60vw;
	height: auto;
	font-size: 15px;
    letter-spacing: .25rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
	background-color: lightgrey;
}

.navigation_bar a:hover {
	background-color: #ffb0b0;
}

nav {
	text-align: center;
}

#modulo_frontend {
	flex-direction: column;
	width: 100vw;
	height: auto;
		border-top: 2px dashed #DC8877;
		border-bottom: 2px dashed #DC8877;
		/*background-color: #e8e8e8;*/
}

.frontend_title {
	flex-direction: column;
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	transform: none;
}

#html{
	flex-direction: column;
	width: 100vw;
	height: auto;
	border: none;
}

#css{
	flex-direction: column;
	width: 100vw;
	height: auto;
	border: none;
}

#bootstrap{
	flex-direction: column;
	width:100vw;
	height: auto;
	border: none;
}

#javascript{
	flex-direction: column;
	width: 100vw;
	height: auto;
	border: none;
}

#vue{
	flex-direction: column;
	width: 100vw;
	height: auto;
	border: none;
}

#modulo_git {
	flex-direction: column;
	width: 100vw;
	height: auto;
	justify-content: space-around;
	align-items: baseline;
	align-content: center;
	margin-bottom: 1rem;
		/*background-color: blue;*/
}

.git_title {
	flex-direction: column;
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	padding: 1rem;
	padding-right: 2rem;
	order: 1;
}

#git {	
	width: 100vw;
	height: auto;
	border: none;
	order: 2;
}

#scrum {
	width: 100vw;
	height: auto;
	border: none;
	order: 3;
}


#modulo_arq {
	flex-direction: column;
	width: 100vw;
	height: auto;
}

.arq_title {
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	transform: none;
}

#arq {
	width: 100vw;
	height: auto;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
	border: none;
}

#modulo_backend {
	flex-direction: column;
	width: 100vw;
	height: auto;
}

.backend_title {
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	order: 1;
}

#basededatos {
	width: 100vw;
	height: auto;
	border: none;
	order: 2;
}

#java {
	width: 100vw;
	height: auto;
	border: none;
	order: 3;
}

#modulo_links {
	flex-direction: column;
	width: 100vw;
	height: auto;
	padding-top: 20px;
	border-top: 2px dashed #DC8877;
}

.sources_title {
	flex-wrap: column wrap;
	width: 100vw;
	height: 10vh;
}

.navigation_links {
	flex-wrap: column wrap;
	width: 100vw;
	height: auto;
	border-top: none;
	margin-top: 10px;
}

.navigation_links a {
  	width: 60vw;
	height: 6vh;
	font-size: 15px;
    letter-spacing: .15rem;
  	margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: none;
}

.navigation_links a:before {
  	width: 100%;
  	height: 6vh;
}

@keyframes hover {
  0% {
    transform: scaleX(0);
    height: 1vh;
  }
  45% {
    transform: scaleX(1.05);
    height: 2.5vh;
  }
  55% {
    height: 3.5vh;
  }
  100% {
    transform: scaleX(1.05);
    height: 6vh;
  }
}

#modulo_footer {
	width: 100vw;
	height: 20vh;
}

.contact_icons {
	width: 100vw;
	height: 15vh;
}

.icons {
	width: 10vw;
	height: 15vh;
	margin-left: 10px;
	margin-right: 10px;
}

.icons a i {
	font-size: 2rem;
}

.social p, .social p i, .social p a i{
	color: white;
	font-size: 12px;
}

}

/*--------------------FIN CSS para MEDIA 400 A 599PX--------------------*/

/*--------------------INICIO CSS para MEDIA 399PX--------------------*/

@media all and (max-width:399px) {

* {
	font-size: 16px;
}

#home {	
	flex-direction: column;
	width: 100vw;
	height: auto;
	margin-bottom: 30px;
}

.title {
	flex-direction: column;
	width: 100vw;
	height: auto;
	margin-top: 20px;
		/*background-color: red;*/
}

h1 a {
	letter-spacing: 0;
	font-size: 25px;
}

.frontend_title h2, .git_title h2, .arq_title h2, .backend_title h2, .sources_title h2 {
	font-size: 18px;
	letter-spacing: 0.1rem;
	text-align: center;
}

h4 {
	text-align: left;
}

.clase {
	text-align: left;
	padding-left: 0.5rem; 
}

ul {
	display: block;
	list-style-type: disc;
	padding-left: 2.5rem;
}

ul li {
	display: list-item;
}

.subtitle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 32vw;
	height: 7vh;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
		background-color: #5c6e91;
}

.subtitle_html, .subtitle_css, .subtitle_bootstrap, .subtitle_javascript, .subtitle_vue, .subtitle_git, .subtitle_scrum, .subtitle_arq, .subtitle_basededatos, .subtitle_java {
	width: 100vw;
	height: 5vh;
}

.subtitle h3 {
	letter-spacing: 0.5rem;
}

.navigation_bar {
	flex-direction: column;
	width: 100vw;
	height: auto;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	padding-top: 10px;
}

.navigation_bar a {
	width: 60vw;
	height: auto;
	font-size: 15px;
    letter-spacing: .15rem;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
	background-color: lightgrey;
}

.navigation_bar a:hover {
	background-color: #ffb0b0;
}

#modulo_frontend {
	flex-direction: column;
	width: 100vw;
	height: auto;
	margin-bottom: 1rem;
	border-top: 2px dashed #DC8877;
	border-bottom: none;
}

.frontend_title {
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	transform: none;
}

#html{
	width: 100vw;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
}

#css{
	width: 100vw;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
}

#bootstrap{
	width: 100vw;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
}

#javascript{
	width: 100vw;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
}

#vue{
	width: 100vw;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
}

#modulo_git {
	flex-direction: column;
	width: 100vw;
	height: auto;
	margin-bottom: 1rem;
}

.git_title {
	width: 100vw;
	height: 10vh;
	writing-mode: horizontal-tb;
	order: 1;
}

#git {	
	width: 100vw;
	height: auto;
	border: none;
	order: 2;
}

#scrum {
	width: 100vw;
	height: auto;
	border: none;
	order: 3;
}


#modulo_arq {
	flex-direction: column;
	width: 100vw;
	height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
		/*background-color: green;*/
}

.arq_title {
	width: 100vw;
	height: 10vh;
	margin-top: 10px;
	margin-bottom: 10px;
	writing-mode: horizontal-tb;
	transform: none;
}

#arq {
	width: 100vw;
	height: auto;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
}

#modulo_backend {
	flex-direction: column;
	width: 100vw;
	height: auto;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
		/*background-color: white;*/
}

.backend_title {
	width: 100vw;
	height: 10vh;
	margin-top: 10px;
	margin-bottom: 10px;
	writing-mode: horizontal-tb;
	padding: 1rem;
	padding-right: 2rem;
	order: 1;
}

#basededatos {
	width: 100vw;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	order: 2;
}

#java {
	width: 100vw;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	order: 3;
}

#modulo_links {
	flex-direction: column;
	width: 100vw;
	height: auto;
}

.sources_title {
	flex-wrap: column wrap;
	width: 100vw;
	height: 10vh;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.navigation_links {
	width: 100vw;
	height: auto;
	justify-content: space-around;
	align-items: center;
		border-top: none;
}

.navigation_links a {
  	width: 60vw;
	height: 6vh;
	font-size: 15px;
    letter-spacing: 0.15rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: 1px dashed #5c6e91;
}

.navigation_links a:before {
  	content: "";
  	background: #ccc;
  	position: absolute;
  	width: 100%;
  	height: 6vh;
  	bottom: 0;
  	left: 0;
  	transform: scaleX(0);
 	animation-fill-mode: forwards;
 	z-index: -1;
}

@keyframes hover {
  0% {
    transform: scaleX(0);
    height: 1vh;
  }
  45% {
    transform: scaleX(1.05);
    height: 2.5vh;
  }
  55% {
    height: 3.5vh;
  }
  100% {
    transform: scaleX(1.05);
    height: 6vh;
  }
}

#modulo_footer {
	width: 100vw;
	height: 15vh;
	align-items: center;
	align-content: flex-start;
	background-color: pink;
	margin-top: 10px;
}

.contact_icons {
	width: 100vw;
	height: 15vh;
	justify-content: space-around;
}

.icons {
	width: 10vw;
	height: 15vh;
}

.icons a i {
	font-size: 1.5rem;
}

.social {
	width: 100vw;
	height: 10vh;
}

.social p, .social p i, .social p a i{
	color: white;
	font-size: 12px;
}

}