@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* ----- Estilos Generales ----- */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(60deg, #f93d66, #6d47d9);
    margin: 2rem;
    margin-bottom: 20vh;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -2px;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem;
}
.grid-container2 {
    display: grid;
    /*
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 3rem 3rem 3rem;
    */
    grid-template: 3rem 3rem 3rem / 150px 150px 150px 150px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, 10vh);
}

.grid-container4 {
    display: grid;
    /*
    grid-template-columns: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    */
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, 5vh);
}
.grid-container5 {
    display: grid;
    /*
    grid-template-columns: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    */
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, 20vh);
    grid-gap: 5%;
}
.grid-item1 {
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    font-size: 2rem;
}