@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
	font-family: 'Open Sans', sans-serif;
	color: grey;
	margin: 0;
	padding-bottom: 800px;
}
.padre {
	border: 1px solid black;
	width: 50vw;
	height: 50vh;
	margin: auto;
}
.relative {
	background-color: #d789d7;
	width: 150px;
	height: 150px;
	position: relative;
	top: 35px;
}
.absolute {
	background-color: #9d65c9;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0;
	right: 0px;
}
.fixed {
	background-color: #5d54a4;
	width: 150px;
	height: 150px;
	position: fixed;
	top: 20px;
	right: 0;
	z-index: -55;
}
.sticky {
	background-color: #2a3d66;
	width: 150px;
	width: 150px;
	position: sticky;
	top:20px;
}